include README.rst
include CHANGES.rst
include LICENSE
include tox.ini
include pytest.ini
include setup.cfg

recursive-include anylink *.py
recursive-include anylink/static/anylink *.js
recursive-include anylink/static/tiny_mce/plugins **
recursive-include anylink/templates/admin/anylink/anylink *.html

recursive-exclude * *.pyc
recursive-exclude * *.pyo

prune docs/build
